@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Mixins */
@mixin text-2xl {
  @apply text-2xl;
}

@mixin cursor-pointer {
  @apply cursor-pointer;
}

@mixin h-10 {
  @apply h-10;
}

@mixin text-xl {
  @apply text-xl;
}

@mixin mx-4 {
  @apply mx-4;
}


@import 'tailwindcss/defaultConfig';


